<!-- Top header start -->
<!-- ### -->
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7">
                <div class="list-inline">
                    <a href="tel:+34 962 22 77 59"><i class="fa fa-phone"></i>+34 962 22 77 59</a>
                    <a href="mailto:vf@yourtrucks.es"><i class="fa fa-envelope"></i>vf@yourtrucks.es</a>
                    <a href="#"><i class="fa fa-clock-o"></i>Lun - Vie: 8:00 - 18:00</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5">
                <ul class="top-social-media pull-right">

                  {% if user.is_authenticated %}
                  <li>
                      <a href="{% url 'dashboard' %}" class="btn btn-secondary btn-xs"><i class="fa fa-tachometer"></i> Dashboard</a>
                  </li>

                  <li>
                      <a href="javascript:{document.getElementById('logout').submit()}" class="btn btn-danger btn-xs"><i class="fa fa-sign-out"></i> Logout</a>
                      <form action="{% url 'logout' %}" id="logout" method="POST">
                        {% csrf_token %}
                        <input type="hidden">
                      </form>
                  </li>
                  {% else %}
                    <li>
                        <a href="{% url 'login' %}" class="btn btn-secondary btn-xs"><i class="fa fa-sign-in"></i> Login</a>
                    </li>
                    {% comment %} <li>
                        <a href="{% url 'register' %}" class="btn btn-secondary btn-xs"><i class="fa fa-user-plus"></i> Register</a>
                    </li> {% endcomment %}
                  {% endif %}
                </ul>
				<!-- ### -->
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->
