{% extends 'base.html' %}

{% block title %} | {{single_car.car_title}} {% endblock %}
{% block content %}

{% load static %}
{% load humanize %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>{{single_car.car_title}}</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">{{single_car.car_title}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Car details page start -->
<div class="car-details-page content-area-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="car-details-section">
                    <!-- Heading start -->
                    <div class="heading-car clearfix">
                        {% include 'includes/messages.html' %}
                        <div class="pull-left">
                            <h3>{{ single_car.car_title }}</h3>
                            <h6>
                                <i class="flaticon-pin"></i>{{ single_car.state }}, {{ single_car.city }}
                            </h6>
                        </div>
                        <div class="pull-right">
                            <h3><span>$ {{ single_car.price | intcomma }}</span></h3>
                        </div>
                    </div>
                    
                    <div id="carDetailsSlider" class="carousel car-details-sliders slide mb-40" data-ride="carousel">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            {% for photo in single_car.truck_photos.all %}
                            <div class="item carousel-item {% if forloop.first %}active{% endif %}" data-slide-number="{{ forloop.counter0 }}">
                                <img src="{{ photo.truck_photos.url }}" class="img-fluid" alt="slider-car">
                            </div>
                            {% empty %}
                            <p>No photos available</p>
                            {% endfor %}
                        </div><!-- ### -->
                    
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#carDetailsSlider" role="button" data-slide="prev"><<
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carDetailsSlider" role="button" data-slide="next">>>
                            <span class="sr-only">Next</span>
                        </a>
                        
                        <!-- main slider carousel nav controls -->
                        <div class="carousel-indicators-section clearfix">
                            <ul class="carousel-indicators car-properties list-inline nav nav-justified">
                                {% for photo in single_car.truck_photos.all %}
                                <li class="list-inline-item {% if forloop.first %}active{% endif %}">
                                    <a id="carousel-selector-{{ forloop.counter0 }}" data-slide-to="{{ forloop.counter0 }}" data-target="#carDetailsSlider">
                                        <img src="{{ photo.truck_photos.url }}" class="img-fluid" alt="small-car">
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    
                    
					<!-- ### -->
                    <!-- Tabbing box start -->
                    <div class="tabbing tabbing-box mb-40">
                        <ul class="nav nav-tabs" id="carTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="false">Resumen del vehículo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">Características</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="two" aria-selected="false">Características Tecnicas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="four-tab" data-toggle="tab" href="#four" role="tab" aria-controls="two" aria-selected="false">Acessorios</a>
                            </li>
                            
                        </ul>
                        <div class="tab-content" id="carTabContent">
                            <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
                                <div class="car-description mb-50">
                                    <h3 class="heading-2">
                                        Descripción
                                    </h3>
                                    <p>
                                      {{single_car.description | safe }}
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                                <div class="features-info mb-50">
                                    <h3 class="heading-2">Características</h3>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th>Característica</th>
                                                    <th>Valor</th>
                                                </tr>
                                                <tr>
                                                    <td>Referencia</td>
                                                    <td>{{single_car.ref}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Tipo de cabina</td>
                                                    <td>{{ single_car.get_cabin_display }}</td>
                                                    <!-- <td>{{single_car.cabin}}</td> -->
                                                </tr>
                                                <tr>
                                                    <td>Primera matriculación</td>
                                                    <td>{{single_car.first_registration}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Marca</td>
                                                    <td>{{single_car.brand}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Lado del conductor</td>
                                                    <!-- <td>{{single_car.driver_side}}</td> -->
                                                    <td>{{ single_car.get_driver_side_display }}</td>

                                                </tr>
                                                <tr>
                                                    <td>Color exterior</td>
                                                    <!-- <td>{{single_car.color}}</td> -->
                                                    <td>{{ single_car.get_color_display }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Color interior</td>
                                                    <!-- <td>{{single_car.color_int}}</td> -->
                                                    <td>{{ single_car.get_color_int_display }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Modelo</td>
                                                    <td>{{single_car.model}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Kilometraje</td>
                                                    <td>{{single_car.kilometrage}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
                                <div class="features-info mb-50">
                                    <h3 class="heading-2">Características Técnicas</h3>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th>Campo</th>
                                                    <th>Valor</th>
                                                </tr>
                                                <tr>
                                                    <td>Motor</td>
                                                    <td>{{single_car.engine}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Tipo de motor</td>
                                                    <td>{{single_car.engine_type}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Tacógrafo</td>
                                                    <!-- <td>{{single_car.tacho}}</td> -->
                                                    <td>{{ single_car.get_tacho_display }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Anchura</td>
                                                    <td>{{single_car.width}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Longitud</td>
                                                    <td>{{single_car.length}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Capacidad de combustible</td>
                                                    <td>{{single_car.fuel_capacity}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Transmisión</td>
                                                    <!-- <td>{{single_car.transmission}}</td> -->
                                                    <td>{{ single_car.get_transmission_display }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Altura de la quinta rueda</td>
                                                    <td>{{single_car.fifth_wheel_height}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Cantidad de depósitos</td>
                                                    <!-- <td>{{single_car.qty_of_deposits}}</td> -->
                                                    <td>{{ single_car.get_qty_of_deposits_display }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Cantidad de marchas</td>
                                                    <!-- <td>{{single_car.qty_of_gears}}</td> -->
                                                    <td>{{ single_car.get_qty_of_gears_display }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Altura</td>
                                                    <td>{{single_car.height}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Distancia entre ejes</td>
                                                    <td>{{single_car.axis_distance}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Distancia del eje uno</td>
                                                    <td>{{single_car.axis_one_distance}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Frenos del eje uno</td>
                                                    <td>{{single_car.axis_one_breaks}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Suspensión del eje uno</td>
                                                    <!-- <td>{{single_car.axis_one_suspension}}</td> -->
                                                    <td>{{ single_car.get_axis_one_suspension_display }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Peso del eje uno</td>
                                                    <td>{{single_car.axis_one_weight}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Porcentaje del eje uno</td>
                                                    <!-- <td>{{single_car.axis_one_percentage}}</td> -->
                                                    <td>{{ single_car.get_axis_one_percentage_display }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Distancia del eje dos</td>
                                                    <td>{{single_car.axis_two_distance}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Frenos del eje dos</td>
                                                    <td>{{single_car.axis_two_breaks}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Suspensión del eje dos</td>
                                                    <!-- <td>{{single_car.axis_two_suspension}}</td> -->
                                                    <td>{{ single_car.get_axis_two_suspension_display }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Peso del eje dos</td>
                                                    <td>{{single_car.axis_two_weight}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Porcentaje del eje dos</td>
                                                    <!-- <td>{{single_car.axis_two_percentage}}</td> -->
                                                    <td>{{ single_car.get_axis_two_percentage_display }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Neumáticos delanteros</td>
                                                    <td>{{single_car.front_tire}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Neumáticos detrás</td>
                                                    <td>{{single_car.rear_tire}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Ruedas</td>
                                                    <!-- <td>{{single_car.weels}}</td> -->
                                                    <td>{{ single_car.get_weels_display }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Camas</td>
                                                    <!-- <td>{{single_car.beds}}</td> -->
                                                    <td>{{ single_car.get_beds_display }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Tipo de retarder</td>
                                                    <!-- <td>{{single_car.drive_train}}</td> -->
                                                    <td>{{ single_car.get_drive_train_display }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="tab-pane fade" id="four" role="tabpanel" aria-labelledby="four-tab">
                                <div class="features-info mb-50">
                                    <h3 class="heading-2">Acessorios</h3>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <ul>
                                                {% for accessory in single_car.Accessory.all %}
                                                <li>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                                                      </svg>
                                                    {{ accessory.name }}
                                                </li>
                                                {% empty %}
                                                <li>No hay accesorios disponibles</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>

					<!-- ### -->
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-xs-12">
                <aside id="sidebar">
                    <!-- Car details start -->
                    <div class="widget widget-sidebar sidebar-properties">
                        <h5 class="sidebar-title" style="background-color: #ff0000; color: #ffffff; padding: 10px;">Detalles del Vehículo</h5>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>Precio</th>
                                        <td>$ {{ single_car.price | intcomma }}</td>
                                    </tr>
                                    <tr>
                                        <th>Condición</th>
                                        <!-- <td>{{ single_car.condition }}</td> -->
                                        <td>{{ single_car.get_condition_display }}</td>
                                    </tr>
                                    <tr>
                                        <th>Kilometraje</th>
                                        <td>{{ single_car.mileage | intcomma }} km</td>
                                    </tr>
                                    <tr>
                                        <th>Modelo</th>
                                        <td>{{ single_car.model }}</td>
                                    </tr>
                                    <tr>
                                        <th>Color</th>
                                        <!-- <td>{{ single_car.color }}</td> -->
                                        <td>{{ single_car.get_color_display }}</td>
                                    </tr>
                                    <tr>
                                        <th>Transmisión</th>
                                        <!-- <td>{{ single_car.transmission }}</td> -->
                                        <td>{{ single_car.get_transmission_display }}</td>
                                    </tr>
                                    <tr>
                                        <th>Año</th>
                                        <td>{{ single_car.year }}</td>
                                    </tr>
                                    <tr>
                                        <th>Motor</th>
                                        <td>{{ single_car.engine }}</td>
                                    </tr>
                                    <tr>
                                        <th>Estilo</th>
                                        <td>{{ single_car.body_style }}</td>
                                    </tr>
                                    <tr>
                                        <th>Combustible</th>
                                        <td>{{ single_car.fuel_type }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Car details end -->
                </aside>
            </div>
            
        </div>
    </div>
</div>
<!-- Car details page end -->
<style>
    .carousel-control {
        color: white; 
        font-weight: bold;
    }
</style>
{% endblock %}
